include /html/form
include /html/icon

section(class= 'banner', data-section= 'home')
    .container.banner__container
        .banner__content__container
            .banner__title
                p.banner__title__logo new
                p.banner__title__text Stay connected to get upcoming jobs
            .banner__content__wrapper
                p.banner__content__text-left Find the most exciting jobs in tech
                p.banner__content__text-right Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et. Sign in or sign up to get started!
            +form("Search...", "Search", false, 'banner__form')
        img(class='banner__image', src='@img/banner.webp')
        .banner__brands
            include /img/openTable.svg
            include /img/hubspotLogo.svg
            include /img/amazonLogo.svg
            include /img/shopifyLogo.svg
            include /img/slackLogo.svg
            include /img/bropboxLogo.svg
            