include /html/card

section.companies
    .container.companies__container
    .companies__slider
        .swiper-wrapper
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            +card({logo: '@img/facebook.svg', title: 'Facebook', date: 'October 25, 2022'}, 'Lead Technical Architect', [{text: 'Technology', color: 'blue'}, {text: 'Full Time', color: 'orange'}], 'Melbourne', '210k-240k')
            
            
        