include /html/navigation
include /html/form

footer.footer
    .container.footer__container
        img(class= "footer__logo", src="@img/logo.svg")
        .footer__grid
            .footer__nav__wrapper
                .footer__nav__title PAGES
                +navigation('footer__navigation', 'footer__navigation__link')
            .footer__form__wrapper
                .footer__form__title SIGN UP OUR NEWSLETTER
                +form("Email address", "Get started", true, "footer__form", "email")
