include /html/navigation
include /html/form

footer.footer
    .container.footer__container
        img(class= "footer__logo", src="@img/logo.svg")
        .footer__grid
            .footer__nav__wrapper
                .footer__nav__title PAGES
                +link('/', 'Home', "link_left")
                +link('/', 'Company', "link_left")
                +link('/', 'Blog', "link_left")
            .footer__form__wrapper
                .footer__form__title SIGN UP OUR NEWSLETTER
                +form("Email address", "Get started", true)

