include /html/button

mixin form(placeholder, text, split, style)
    if (split)
        form(class= `form form-split ${style}`,action="")
            input(class= "form__input form__input-split", placeholder= placeholder)
            +button(text, "form__btn-split")
    else
        form(class= `form ${style}`, action="")
            input(class= "form__input", placeholder= placeholder)
            +button(text, "form__btn")
