include /html/link

mixin navigation(style, linkStyle= '')
    nav(class=`nav ${style}`)
        +link('Home', `link__home ${linkStyle}`, 'home')
        +link('Company', `link__company ${linkStyle}`, 'company')
        +link('Blog', `link__blog ${linkStyle}`, 'blog')
        block