include /html/tag
include /html/button

mixin newsCard(image, text, tag, date)
    .newsCard.swiper-slide(style= "max-width: 390px; width: 100%;")
        img(class= 'newsCard__image', src= `@img/${image}`, alt= 'image')
        .newsCard__container
            +tag(tag.text, tag.color)
            p.newsCard__text= text
            .newsCard__date__wrapper
                img(src='@img/dot.svg', alt='dot')
                p.newsCard__date= date
            +button("Read More", "secondary newsCard__btn")
                include /img/smallArrow.svg