mixin smallCard
    .smallCard
        .smallCard__logo
            img(src="@img/two-users.png", alt="logo")
        .smallCard__content
            .smallCard__content__title Add a feature point here
            .smallCard__content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.