html
    head
        link(rel="stylesheet" href='css/style.min.css')
    body
        include html/header
        include html/banner
        include html/jobs
        include html/companies
        include html/commercial 
        include html/about
        include html/news
        include html/explore 
        include html/footer
        script(src="js/app.min.js")

    