html
    head
        link(rel="stylesheet" href='css/style.min.css')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    body
        include html/header
        include html/banner
        include html/companies
        include html/commercial 
        include html/explore 
        include html/footer
        script(type="module", src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs") 
        script(src="js/app.min.js")

    