.about {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f9f9fb;
}

.about__container {
    max-width: 960px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .about__slider {
        width: 100%;
        height: 480px;
        overflow: hidden;
    }
}

.about__header {
    color: rgb(3, 4, 7);
    font-family: Archivo;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 70px;
}

.about__mobile__text {
    display: none;
    color: var(--colors-royal-blue);
    font-size: var(--font-size-s);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.about__slider__button__block {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
}

@media (max-width: 984px) {
    .about__container {
        padding: 0 12px;
    }
}

@media (max-width: 767px) {
    .about__header {
        text-align: center;
    }

    .about__slider__button__block {
        position: static;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 32px;
    }

    .about__container {
        padding: 0 16px;
    }

    .about__mobile__text {
        display: block;
    }

    .about__container {
        .about__slider {
            height: 200px;
        }
    }
}
