.aboutCard {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.aboutCard__text__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.aboutCard__text__wrapper {
    width: 450px;
}

.aboutCard__text {
    color: var(--colors-bright-gra);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}

.aboutCard__profession {
    color: var(--colors-royal-blue);
}

.aboutCard__image {
    max-width: 400px;
    object-fit: cover;
    flex: 1;
}

@media (max-width: 767px) {
    .aboutCard__image {
        display: none;
    }

    .aboutCard__text__wrapper {
        width: 100%;
    }
}
