.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.banner__content__container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.banner__title {
    width: 310px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 8px;
    background: #f9f9fb;
}

.banner__title__logo {
    width: 47px;
    height: 24px;
    display: flex;
    padding: 4px 8px 4px 8px;
    margin: 0px 12px;
    background: #fff;
    color: var(--colors-royal-blue);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner__title__text {
    color: var(--colors-ebony);
    font-size: 12px;
    font-weight: 500;
}

.banner__content__wrapper {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 135px;
}

.banner__content__text-left {
    color: #030407;
    font-family: var(--font-family-second);
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.banner__content__text-right {
    color: var(--colors-bright-gray);
}

.banner__image {
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 80px;
}

.banner__form {
    position: absolute;
    left: 0;
    bottom: -35px;
}

.banner__brands {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.banner__brand__img {
    fill: #6d7d93;
    &:hover {
        fill: #443fde;
    }
}

@media (max-width: 767px) {
    .banner__content__wrapper {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 35px;
    }

    .banner__title {
        margin-bottom: 24px;
    }

    .banner__content__text-left {
        margin-bottom: 16px;
    }

    .banner__form {
        position: static;
    }

    .banner__image {
        margin-bottom: 32px;
    }

    .banner__brands {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .banner__title {
        margin-bottom: 24px;
    }
}
