.btn {
    height: 44px;
    padding: 10px 20px;
    background-color: var(--btn-primary-color);
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: var(--font-size-s);
    cursor: pointer;
}
