.card {
    padding: 30px;
    width: 360x;
    border: 1px solid var(--colors-athens-gray);
    background-color: #fff;
}

.card__header {
    margin-bottom: 25px;
    display: flex;  
    justify-content: flex-start;
}

.card__header__date {
    color: rgb(96, 100, 118);
    font-size: var(--font-size-s);
    
}
.card__header__logo {
    width: 56px;
    height: 56px;
    margin: 0px 14px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(235, 235, 239);
}

.card__header__wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__content__text {
    margin-bottom: 25px;
    color: var(--colors-ebony);
    font-family: var(--font-family-second);
    font-size: var(--font-size-l);
    font-weight: 700;
}

.card__tags__wrapper {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
}

.card__footer {
    display: flex;
    justify-content: flex-start;
}

.card__city {
    margin-right: 30px;
    color: rgb(96, 100, 118);
    font-size: 14px;
    font-weight: 500;
    background: url(../img/location.svg) left -8px top 0px no-repeat;
}