.companies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.companies__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.companies__text__wrapper {
    max-width: 50%;
}

.companies__title {
    color: rgb(3, 4, 7);
    font-family: Archivo;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

.companies__text {
    color: rgb(62, 64, 76);
    text-align: left;
}

.companies__container {
    .companies__slider {
        width: 100%;
        height: 310px;
    }
}

@media (max-width: 767px) {
    .companies__text__wrapper {
        margin-bottom: 32px;
    }

    .companies__header {
        flex-direction: column;
        align-items: flex-start;
    }
}
