.explore {
    width: 100%;
    display: flex;
    justify-content: center;
}

.explore__container {
    min-height: 315px;
    margin-bottom: 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9f9fb;
}

.explore__icon__wrapper {
    position: absolute;
    max-width: 1072px;
    width: 92%;
    height: 64px;
    top: -32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #fff;
    border: 1px solid var(--colors-athens-gray);
    z-index: 100;
}

.explore__title {
    color: (----colors-ebony);
    font-family: (--font-family-second);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.explore__text {
    max-width: 450px;
    width: 100%;
    color: var(--colors-bright-gray);
    text-align: center;
}

.explore__form {
    position: absolute;
    left: calc(50% - 360px);
    bottom: -35px;
}

@media (max-width: 767px) {
    .explore__form {
        position: static;
        margin-bottom: 0;
    }

    .explore__text {
        margin-bottom: 50px;
    }

    .explore__title {
        margin-top: 60px;
    }

    .explore__container {
        justify-content: flex-end;
        margin-bottom: 0;
    }
}
