@font-face {
	font-family: "Archivo";
	font-display: swap;
	src: url("../fonts/Archivo-Bold.woff2") format("woff2"), url("../fonts/Archivo-Bold.woff") format("woff");
	font-weight: 700;
	}
@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
	font-weight: 500;
	}
@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: 400;
	}
@font-face {
	font-family: "Archivo";
	font-display: swap;
	src: url("../fonts/Archivo-Italic-VariableFont_wdth,wght.woff2") format("woff2"), url("../fonts/Archivo-Italic-VariableFont_wdth,wght.woff") format("woff");
	font-weight: 400;
	}
@font-face {
	font-family: "Archivo";
	font-display: swap;
	src: url("../fonts/Archivo-VariableFont_wdth,wght.woff2") format("woff2"), url("../fonts/Archivo-VariableFont_wdth,wght.woff") format("woff");
	font-weight: 400;
	}
