@font-face {
	font-family: "Archivo";
	font-display: swap;
	src: url("../files/Archivo-Bold.woff2") format("woff2"), url("../files/Archivo-Bold.woff") format("woff");
	font-weight: 700;
	}
@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../files/Inter-Medium.woff2") format("woff2"), url("../files/Inter-Medium.woff") format("woff");
	font-weight: 500;
	}
@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../files/Inter-Regular.woff2") format("woff2"), url("../files/Inter-Regular.woff") format("woff");
	font-weight: 400;
	}
