.footer {
    padding: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--colors-athens-gray);
}

.footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__nav__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__nav__title,
.footer__form__title {
    font-weight: 600;
    font-size: var(--font-size-s);
    line-height: 180%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--colors-manatee);
    margin-bottom: 16px;
}

.footer__logo {
    width: 169px;
    height: 40px;
    margin-bottom: 40px;
}

.footer__navigation {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer__navigation__link {
    padding: 0;
}

@media (max-width: 767px) {
    .footer__grid {
        flex-direction: column;
    }

    .footer__form {
        width: 100%;
        margin-bottom: 0;
    }

    .footer {
        padding: 32px 0;
    }
}
