.form {
    width: 720px;
    height: 70px;
    padding: 13px;
    border: 1px solid #ebebef;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.form-split {
    width: 450px;
    height: 48px;
    padding: 0;
    border: none;
}

.form__input__wrapper {
    width: 576px;
    display: flex;
    align-items: center;
}

.form__input__wrapper-split {
    width: 319px;
    height: 48px;
    border: 1px solid #ebebef;
}

.form__input {
    width: 100%;
    height: 44px;
    padding: 14px 12px 14px 50px;
    border: none;
    outline: none;
    background: url(../img/glass.svg) left 8px top 10px no-repeat;
    &-split {
        width: 319px;
        height: 48px;
        padding-left: 12px;
        background: none;
        border: 1px solid #ebebef;
    }

}

.form__btn {
    margin-left: 8px;
    padding: 10px 32px;
    width: 110px;
    height: 44px;
}
.form__btn-split {
    width: 115px;
    height: 48px;
}

.form__icon {
    width: 24px;
    height: 24px;
}
