.jobsCard {
    padding: 30px;
    max-width: 360px;
    width: 100%;
    border: 1px solid var(--colors-athens-gray);
    background-color: #fff;
}

.jobsCard__header {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
}

.jobsCard__header__date {
    color: rgb(96, 100, 118);
    font-size: var(--font-size-s);
}
.jobsCard__header__logo {
    width: 56px;
    height: 56px;
    margin: 0px 14px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(235, 235, 239);
}

.jobsCard__header__wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jobsCard__content__text {
    margin-bottom: 25px;
    color: var(--colors-ebony);
    font-family: var(--font-family-second);
    font-size: var(--font-size-l);
    font-weight: 700;
}

.jobsCard__tags__wrapper {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
}

.jobsCard__footer {
    display: flex;
    justify-content: flex-start;
}

.jobsCard__city, .jobsCard__salary {
    color: rgb(96, 100, 118);
    font-size: 14px;
    font-weight: 500;
}

.jobsCard__footer__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.jobsCard__city {
    margin-right: 30px;
}
