.jobs {
    display: flex;
    justify-content: center;
    padding: 64px 0;
    background: #f9f9fb;
}

.jobs__card__container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.jobs__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.jobs__text__wrapper {
    max-width: 50%;
}

.jobs__title {
    color: rgb(3, 4, 7);
    font-family: Archivo;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

.jobs__text {
    color: rgb(62, 64, 76);
    text-align: left;
}