.jobs {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f9f9fb;
    scroll-margin-top: 92px;
}

.jobs__card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.jobs__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.jobs__text__wrapper {
    max-width: 50%;
}

.jobs__title {
    color: rgb(3, 4, 7);
    font-family: Archivo;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

.jobs__text {
    color: rgb(62, 64, 76);
    text-align: left;
}

@media (max-width: 767px) {
    .jobs__text__wrapper {
        max-width: 100%;
        margin-bottom: 32px;
    }

    .jobs__header {
        flex-direction: column;
        align-items: flex-start;
    }
}
