.newsCard {
    max-width: 390px;
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 9px;
    border: 1px solid rgb(235, 235, 239);
}

.newsCard__image {
    max-width: 100%;
}

.newsCard__container {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.newsCard__text {
    color: rgb(3, 4, 7);
    font-family: Archivo;
    font-size: 20px;
    font-weight: 700;
}

.newsCard__date__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.newsCard__date {
    color: #606476;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
}

.newsCard__btn__img {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    &:hover {
        fill: #fff;
    }
}

.newsCard__btn {
    width: 100%;
}
