@import "./fonts.scss";
@import "./reset.scss";
// @import "~normalize.css";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/autoplay.scss";
@import "./variables.scss";
@import "./btn.scss";
@import "./header.scss";
@import "./banner.scss";
@import "./companies.scss";
@import "./card.scss";
@import "./commercial.scss";
@import "./smallCard.scss";
@import "./explore.scss";
@import "./footer.scss";
@import "./form.scss";
@import "./tag.scss";
@import "./navigation.scss";

body {
    background-color: #fff;
    font-family: var(--font-family-main);
    font-weight: 400;
    font-size: var(--font-size-m);
}

.section {
    width: 100%;
}

.container {
    width: 1140px;
}
