.tag {
    padding: 6px 12px;
    font-size: var(--font-size-s);
    margin-right: 15px;
    &__blue {
        background: rgb(243, 243, 252);
        color: rgb(68, 63, 222);
    }
    &__orange {
        background: rgb(254, 247, 241); 
        color: rgb(201, 139, 64);
    }
    &__green {
        padding: 10px 15px;
        background: rgb(241, 248, 244);
        color: rgb(36, 107, 73);
    }
}