.tag {
    padding: 6px 12px;
    font-size: var(--font-size-s);
    margin-right: 15px;
    &__blue {
        background: var(--colors-link-water);
        color: var(--colors-royal-blue);
    }
    &__orange {
        background: var(--colors-seashell-peach);
        color: var(--colors-tussock);
    }
    &__green {
        padding: 10px 15px;
        background: var(--colors-harp);
        color: var(--colors-green-pea);
    }
}
